body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
  text-align: center;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 75%;
}

.bgimg-1 {
  background-image: url("../images/unended_header.png");
}

.bgimg-2 {
  background-image: url("../images/me.png");
}

.bgimg-3 {
  background-image: url("../images/blank.png");
}

.icon-1,
.icon-2 {}

.icon-1 {
  image: url("../images/facebook.png");
}

.icon-2 {
  image: url("../images/twitter.png");
}

div {
  padding: 50px 450px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 747px) {

  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    width: auto;
    background-attachment: scroll;
    min-height: 40%;
  }

  div {
    padding: 20px 40px
  }
}
